/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  text-align: center; }

h1 { margin-bottom: 1em;
  
  
 }
p { margin: 1em 0; }

a         { color: black; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  /*padding: 75px;*/
 }

.header {
  background: url('../Assets/Images/textured_paper.png');
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
  width: 100%;
}

.site .header h1.title {
  text-indent: 75px;
  font-size: xx-large;
  text-align: left;
  margin-bottom: 1em;
  font-family: 'IM Fell Double Pica', serif;

}

.links {
  position: fixed;
  right:0;
  top:0;
  float: right;
  display: block;
  text-align: right;
  font-family: 'Bad Script', cursive;
  font-size: xx-large;
  margin-right: 3em;
  color: black;
}

.site .header h1.title a {
  text-align: right;
  /*color: #a00;*/
  /*background-color: blue;*/
  /*font-size: 6em;*/
}

.contact-me {
  text-align: center;
}

.site .header .links a:hover {
  text-align: right;
  color: blue;
}

.site .header .links a.selected {
  text-decoration: underline;
}

.site .header a.extra {
  text-align: right;
  margin-left: 1em;
  font-size: large;
}

.site .header a.extra:hover {
  color: #000;
  text-align: right;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  margin: 0 auto;
  margin-top: 2em;
  text-align: center;
  overflow: hidden;
}

.site .footer .contact h1 {
  float: left;
  margin-right: 3em;
  text-align: center;
}

.site .footer .contact a {
  color: #8085C1;
  text-align: center;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

#fourth .footer .contact p{
  text-align: center;
}
.container .sections h1 {
  font-family: 'Bad Script', cursive;
  font-size: xx-large;
  color: black;
}

.footer .contact {
  text-align: center;
  position: center;
  /*width: 60%;*/
}

.container {
  height: 100%;
  z-index: 5000;  
}

p {
  text-align: left;
  color: black;
  font-size: 1.4em;
  font-family: "double-pica";
}

p .link_back {
  bottom: 10px;

}

#intro{
  background:url('../Assets/Images/me.png') 50% 0 no-repeat fixed;
  background-size: cover;
  color: black;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  
  /*border: solid;*/
  }


#second .bg{
    
  height: 600px;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 200;
}

#first {
  background: url('../Assets/Images/me.png') no-repeat;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5000;
  height: 100%;

}

#second {
  /*background: url("../Assets/Images/squairy_light.png");*/
  background-color: rgb(13, 86, 166);
  color: white;
  height: 100vh;
  font-family: 'IM Fell Double Pica', serif;
  text-align: left;
  padding: 100px;
  
  
}

#third {
  
  background-color: white;
  color: black;
  height: 100vh;
  font-family: 'IM Fell Double Pica', serif;
  text-align: left;
  padding: 100px;
  
  
}

#third .skillset {

}


#fourth{
  background: url('../Assets/Images/mooning.png');
  height: 100vh;
  font-family: 'IM Fell Double Pica', serif;
  text-align: left;
  padding: 100px;
  
  
}

#fifth {
  background: url('../Assets/Images/retina_wood.png');
  height: 100vh;
  margin: 0 auto;
  padding: 40px 0 0 0;
  font-size: 1.4em;
   
}



.back-to-top {
    position: fixed;
    bottom: .5em;
    right: .25em;
    text-decoration: none;
    color: black;
    font-weight: 300;
    background-color: ##D0D0D0;

    font-size: 18px;
    padding: .5em;
    display: none;
}

.back-to-top:hover {    
    background-color: rgba(135, 135, 135, 0.50);
}


.title-hr-dark {
border-bottom: solid 4px black;
width: 320px;
margin: 28px auto 56px;
}

#working p, #working h1 {
  color: white;

}

.title-hr-light {
border-bottom: solid 4px white;
width: 320px;
margin: 28px auto 56px;
}

#fifth .contact p {
  font-size: 1em;
  margin: 4em;
  font-family: 'Bad Script', cursive;

}

#fifth .contact #logo {
  /*position: inline;*/
  text-align: center;
  margin: auto;
  }

