<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <script src="http://code.jquery.com/jquery-latest.min.js"
                type="text/javascript"></script>
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">


        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link href='http://fonts.googleapis.com/css?family=IM+Fell+Double+Pica' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>


    </head>
    <body>
      <div class="site">
        <div class="header" id="top">
          <br />
          <br />
          <h1 class="title">Kevin Berg</h1>
          <div class="links">
            <a class="extra" href="/">home</a> 
            <a href="#second" class="arctic_scroll" data-position="1200">about</a>
            <a class="extra" href="#third">work</a>
            <a class="extra" href="/">blog</a>
            <a class="extra" href="#fourth">find me</a> 
          </div>
        </div>
          <div class="container">
            <div class="sections" id="intro">
                <br><br><br>
                <h1>Kevin Berg - cool guy and all around neat character.</h1>
            </div>

            <div class="sections" id="second">
              <div class="p-container">
              <h1><strong>Who is this guy?</strong></h1><br><br><br>
              <p>Hey I'm Kevin - seeing as you're here, I presume you'll want to know more about me. I grew up in Toronto, Canada and attended the University of Toronto graduating with some knowledge in finance, accounting and economics, amongst other things. </p>
              
              <p>Upon graduating, I took a trip around the world. It was pretty cool. </p>
              
              <p>After that, I started working at PwC (big accounting firm), where I've spent the past couple of years gaining experience in the the financial reporting and operations of mining and tech companies. I also learned some excel and financial modelling skills while I was at it. They threw in a cool designation with letters to add to my name too.</p>
              
              <p>Somewhere along the way, I became obsessed with learning and how to make new things. I ultimately stumbled upon a school called Bitmaker Labs, which was able to teach me how to become an entry level developer in 9 weeks. This site is a function of my experience there </p>

              <p>In my free time, I enjoy playing sports, camping and learning about pretty much anything that's foreign to me. I'm a dead-eye shooting guard on the basketball court and can be found riding in a peleton on weekends.</p>

          
              <a class="link_back" href="#top">back to top</a>
            </div>
            </div>

            <div class="sections" id="third">
              <h1>Work<h1>
            </div>

            <div class="sections" id="fourth">
              <h1>Contact<h1>
                  <div class="footer">
                    <div class="contact">
                      <div class="p-container">
                      <p class="contact-me">
                        <h1><strong>Get in touch...</strong></h1>
                        <h1><strong>Kevin Berg</strong></h1>
                      </p>
                    </div>
                    <div class="contact">
                      <p>
                        <a href="mailto:kevinberg3@gmail.com?Subject=Hola%20Amigo" target="_top"><img src="../Assets/Images/gmail-icon.png"></a>
                        <a href="http://github.com/kevinberg3/" target="_blank"> <img src="../Assets/Images/github.png"></a>
                        <a href="http://www.linkedin.com/pub/kevin-berg-ca/35/b57/78b" target='_blank'><img src='../Assets/Images/linkedin.png'></a>
                      </p>
                    </div>
                    </div>
                  </div>
                </div>
              </div> <!-- /container -->
            </div>
         
            
         
              {{ content }}

            
              
          </div>


            
          
            
        <script>
        $(document).ready(function(){
            $('.sections').height($(window).height());
        });
        </script>
    </body>
</html>
